{% extends 'base.html' %}

{% load static %}

{% block page_title %} Plans for All Days {% endblock page_title %} 

{% block css_files %}
    <link rel="stylesheet" href=" {% static 'dailyplanapp/dailyplan.css' %}"> </link>
{% endblock css_files %}




{% block content %}
{% include "dailyplanapp/header.html" %}

<h1>Hello Simplilearn!</h1>
<h2>This is Daily Diet Plan Application </h2>


<ul>
    {% for day in days %}
        <li>
            <a href=" {% url 'daily-diet' day %}">
                {{ day | title }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% endblock content %}