@import url('https://fonts.googleapis.com/css2?family=Borel&family=Lumanosimo&display=swap');

html {
    font-family: 'Borel', cursive;
    font-family: 'Lumanosimo', cursive;
}

body {
    margin: 0;
}